.message-success {
  position: absolute;
  top: 50%;
  left: 50%;

  display: none;
  width: 728px;

  background: $color-background-grey;
  transform: translateX(-50%) translateY(-50%);
}

.message-success--active {
  display: flex;
}

.message-success__description {
  padding: 179px 165px;

  font-weight: 500;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: $color-grey;
}

.close-modal-button {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;

  width: 24px;
  height: 24px;
  padding: 10px;

  background-color: transparent;
  background-image: url("../img/svg/close-menu.svg");
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;

  &:hover {
    outline: 2px solid $color-red;
  }
}
