.next-travel {
  width: 387px;

  border-right: 1px solid $color-light-grey;

  @media (max-width: $tablet-width) {
    width: 56%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;

    border-right: none;
    border-bottom: 1px solid $color-light-grey;
  }
}

.next-travel__title {
  margin: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $color-special-black;

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.next-travel__lists {
  display: grid;
  margin-top: 20px;
  margin-right: 10px;

  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $mobile-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px -10px 30px;
  }
}

.next-travel__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $mobile-width) {
    margin: 0 10px;
  }
}

.next-travel__item {
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $color-dark-grey-opacity-50;

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.next-travel__link:hover {
  color: $color-red;
}
