.price {
  display: grid;
  margin-top: 256px;

  grid-gap: 30px;
  grid-template-columns: 377px 370px 1fr;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
  }
}

.price__main {
  order: 3;
  margin-top: 118px;
  padding-left: 65px;

  span {
    display: flex;
    margin-top: 60px;
    margin-left: 44px;

    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    color: $color-special-black;

    @media (max-width: $tablet-width) {
      margin: 30px auto 0;

      font-size: 18px;
      text-align: center;
    }
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    order: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.price__title {
  position: relative;

  width: 358px;
  margin: 0;

  font-weight: 600;
  font-size: 56px;
  line-height: 80px;
  letter-spacing: -1.245px;

  &::after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 0;

    width: 175px;
    height: 3px;

    border-bottom: 3px solid $color-red;
  }

  @media (max-width: $tablet-width) {
    width: 100%;

    font-size: 30px;
    line-height: 45px;
    text-align: center;

    &::after {
      display: none;
    }
  }
}

.price__description {
  width: 306px;
  margin: 0;
  margin-top: 52px;

  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: $color-dark-blue-opacity-70;


  @media (max-width: $tablet-width) {
    width: 100%;
    margin-top: 20px;

    text-align: center;
  }
}

.price__phone {
  display: inline-flex;
  margin-top: 13px;

  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: $color-black;

  &:hover {
    color: $color-red;
  }

  svg {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-left: -5px;

    color: $color-red;
  }

  @media (max-width: $tablet-width) {
    margin: 10px auto 0;

    font-size: 18px;
    text-align: center;
    color: $color-red;

    text-decoration-line: underline;

    svg {
      display: none;
    }
  }
}

.price__complex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 7px;
  padding: 27px;

  background-color: $color-white;
  border: 3px solid $color-red;
  border-radius: 6px;

  @media (max-width: $tablet-width) {
    position: relative;

    width: 288px;
    margin: 25px;
    padding: 30px 20px 80px;
  }
}

.price__complex-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;

  color: $color-red;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }

  h2 {
    margin: 0;

    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
  }

  span {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;

    @media (max-width: $tablet-width) {
      margin-top: 10px;
    }
  }
}

.price__complex-description {
  position: relative;

  width: 289px;
  margin: 0;
  margin-top: 43px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-dark-blue;

  &::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: -3px;

    width: 310px;
    height: 1px;

    border-bottom: 1px solid $color-red;
  }

  @media (max-width: $tablet-width) {
    width: 248px;

    text-align: center;

    &::after {
      bottom: -10px;
      left: 0;

      width: 248px;
    }
  }
}

.price__complex-list {
  width: 260px;
  margin: 0;
  margin-top: 58px;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $color-dark-blue;

  @media (max-width: $tablet-width) {
    width: 248px;
    margin-top: 20px;
  }
}

.price__complex-item {
  position: relative;

  margin-bottom: 12px;
  padding-left: 27px;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 4px;

    width: 14px;
    height: 12px;

    background-image: url("../img/svg/tick.svg");
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.price__economy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;

  background-color: $color-white;
  border: 1px solid $color-dark-blue-opacity-30;
  border-radius: 6px;

  @media (max-width: $tablet-width) {
    position: relative;

    width: 288px;
    margin: 25px;
    padding: 30px 20px 80px;
  }
}

.price__economy-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;

  color: $color-dark-blue-opacity-70;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }

  h2 {
    margin: 0;

    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
  }

  span {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;

    @media (max-width: $tablet-width) {
      margin-top: 10px;
    }
  }
}

.price__economy-description {
  position: relative;

  width: 289px;
  margin: 0;
  margin-top: 39px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-dark-blue;

  &::after {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 0;

    width: 310px;
    height: 1px;

    border-bottom: 1px solid $color-dark-blue-opacity-30;
  }

  @media (max-width: $tablet-width) {
    width: 248px;

    text-align: center;

    &::after {
      bottom: -10px;
      left: 0;

      width: 248px;
    }
  }
}

.price__economy-list {
  margin: 0;
  margin-top: 59px;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $color-dark-blue;

  @media (max-width: $tablet-width) {
    width: 248px;
    margin-top: 20px;
  }
}

.price__economy-item {
  position: relative;

  margin-bottom: 15px;
  padding-left: 30px;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;

    width: 14px;
    height: 12px;

    background-image: url("../img/svg/red-tick.svg");
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.price__link {
  justify-content: center;
  width: 100%;
  margin-top: 12px;
  padding: 30px 0 25px;

  @media (max-width: $tablet-width) {
    position: absolute;
    bottom: -3px;
    left: -3px;

    width: 288px;
    padding: 19px;
  }
}
