.questions {
  position: relative;

  margin-top: 133px;
  padding: 70px 0 70px 545px;

  background-image: url("../img/content/form-background-desktop-@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: 30px;
  background-size: 844px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/content/form-background-desktop-@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    margin-top: 110px;
    padding: 70px 55px 74px;

    background-image: url("../img/content/form-background-tablet-@1x.jpg");
    background-position-x: 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/content/form-background-tablet-@2x.jpg");
    }
  }
}

.questions__block {
  width: 656px;
  padding: 50px 50px 55px;

  text-align: center;
  color: $color-special-black;

  background-color: $color-white;
  border-radius: 5px;
  box-shadow: 0 4px 30px $color-dark-blue-opacity-10;

  @media (max-width: $tablet-width) {
    width: 658px;
    padding: 50px;
  }
}

.questions__title {
  margin: 0;

  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
}

.questions__description {
  margin: 0;
  margin-top: 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.questions__form {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;

  input {
    width: 269px;
    margin-bottom: 19px;
    padding: 15px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    background: $color-white;
    border: 1px solid $color-dark-blue-opacity-30;
  }

  svg {
    position: absolute;
    top: 10px;
    left: 15px;
  }
}

input[type="tel"] {
  position: relative;

  margin-right: 18px;
  padding-left: 26px;
}

.questions__button-submit {
  display: inline-flex;
  justify-content: center;
  width: 176px;
  padding: 15px;

  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 2px;

  background-color: $color-red;
  border: none;

  &:hover {
    background-color: $color-orange;
  }

  @media (max-width: $tablet-width) {
    width: 250px;
  }
}

.questions__form-error {
  input {
    border: 1px solid $color-red;
  }

  .questions__first-span-error,
  .questions__second-span-error {
    display: flex;
  }
}

.questions__first-span-error {
  position: absolute;
  top: -15px;
  left: 0;
  z-index: 1;

  display: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: $color-red;
}

.questions__second-span-error {
  position: absolute;
  top: -15px;
  left: 288px;
  z-index: 1;

  display: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: $color-red;
}
