.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;

  @media (max-width: $tablet-width) {
    width: 768px;
    padding: 0 21px;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
    padding: 0 16px;
  }
}
